/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.google.com/specimen/Poppins?preview.text=Home&preview.text_type=custom#styles");
@import url("https://fonts.googleapis.com");
@import url("https://fonts.gstatic.com");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

body {
  background: #f3d1a9;
  font-family: "Poppins";
  font-color: #ffbd59;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
}
